@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,200&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  height: 100vh;
} 

button, input[type="submit"], input[type="button"] {
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
}